::-webkit-scrollbar {
    display: none;
  }
  
html {
    scrollbar-width: none;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.progress-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: black;
    z-index: 1000;
    overflow: hidden;
}

.progress-bar div {
    width: 0;
    height: 100%;
    background: #ccc;
    border-radius: 2px;
    transition: width 0.3s;
}

.container {
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
}

.disabled-container {
    pointer-events: none;
    position: relative;
    z-index: 1;
}

.disabled-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 120%;
    background-color: rgba(0, 0, 0, 1);
    pointer-events: none;
    z-index: 2;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.animated-text {
    font-size: 3em;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 2s forwards;
    color: #fff;
}

.tagline {
    font-size: 1.2em;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 2s 0.5s forwards;
    color: #fff;
}

.center-button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s;
    animation: fadeInUp 2s 1s forwards;
    opacity: 0;
    transform: translateY(20px);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.center-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.center-button:hover::before {
    transform: translateX(100%);
}

.center-button:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: #000;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.5);
}

footer {
    position: absolute;
    bottom: 20px;
    color: #fff;
    font-size: 0.9em;
    z-index: 1;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#animationCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#music-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
}

#popup-content {
    display: inline-block;
    margin: 20% auto;
    padding: 20px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

#popup-content p {
    margin: 0 0 10px;
    word-wrap: break-word;
}

#popup-content button {
    padding: 10px 20px;
    margin: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
}

#popup-content button:hover {
    background-color: grey;
}

@media (max-width: 768px) {
    #popup-content {
        width: 80%;
        margin: auto;
    }
    #popup-content button {
        width: 100%;
        margin: 10px 0;
        padding: 15px 0;
    }
}

header {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    border: 2px solid #ccc;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
}

.no-display {
    border: none;
}

.menu-bar {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
    transform: translateY(-20px);
}

.menu-bar.animate-menu-bar {
    opacity: 1;
    transform: translateY(0);
}

.menu-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu-bar ul li {
    margin-right: 20px;
    position: relative;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.menu-bar ul li.animate-menu-item {
    opacity: 1;
    transform: translateY(0);
}

.menu-bar ul li:last-child {
    margin-right: 0;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    position: relative;
    transition: color 0.3s ease;
}

.menu-bar ul li a:focus, .menu-bar ul li a:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.menu-bar ul li a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-out, background-color 0.3s ease;
}

.menu-bar ul li a:hover {
    color: #ccc;
}

.menu-bar ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    background-color: #ccc;
}

@media (max-width: 768px) {
    header {
        border: 1px solid #ccc;
    }

    .menu-bar ul li a::after {
        bottom: -1px;
        height: 1px;
    }

    .menu-bar ul li a {
        font-size: small !important;
    }
}

.help-button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.help-button:focus {
    outline: none;
}

.help-button:hover {
    background-color: #ccc;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    transition: opacity 0.3s ease, visibility 0s ease 0.3s;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    display: block;
    opacity: 1;
    visibility: visible;
}

.shortcuts-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px;
    box-shadow: 0 0 10000px 10000px rgba(0, 0, 0, 0.8);
    border: #ccc 1px solid;
    border-radius: 8px;
    z-index: 3;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

.close-modal {
    background: none;
    border: none;
    color: #eee;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.shortcuts-list {
    list-style: none;
    padding: 0;
}

.shortcuts-list li {
    margin-bottom: 10px;
    color: #fff;
}

.shortcut-key {
    display: inline-block;
    min-width: 40px;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .help-button {
        display: none;  
    }
}
